html, body{
    height: 100%;
    margin-top: 20;
    padding-top: 50px;
    
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas{
    background: rgb(193, 123, 28 );
}